@font-face {
    font-family: Open;
    src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenR;
    src: url(fonts/OpenSans-Regular.ttf);
}

body {
	display: flex;
  align-items: center;
	background-color:#171717;
	margin:15% 0 0 0;
	flex-direction: column;
  font-family:Open;
}

header {
	min-width:300px;
	max-width:800px;
	display:flex;
	align-items:center;
	flex-direction: column;
}

header img {width:90%;/*! padding: 0px 10%; */}

main {
	width:35%;
	margin-left:-5%;
	font-size:20px;
	color:white;
	letter-spacing:2px;
}

main a{
	letter-spacing:2.5px;
	color: #FF8E21;
	text-decoration:none;
  font-family:OpenR;
	
	display:block;
	margin:2% 0;
	
	transition: all ease .2s;
}

main a:hover {color:#EC5613}

footer {
	width:100%;
	display:block;
	position:absolute;
	bottom:3px;
	color:#666;
	text-align:center;
	margin:0 auto;
	font-size:11px;
}